{
	"arrowParens": "avoid",
	"bracketSpacing": true,
	"endOfLine": "lf",
	"htmlWhitespaceSensitivity": "css",
	"insertPragma": false,
	"jsxBracketSameLine": false,
	"jsxSingleQuote": true,
	"printWidth": 1200,
	"proseWrap": "preserve",
	"quoteProps": "as-needed",
	"requirePragma": false,
	"semi": false,
	"singleQuote": true,
	"doubleQuite": false,
	"tabWidth": 2,
	"trailingComma": "none",
	"useTabs": true,
	"vueIndentScriptAndStyle": false
}